<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Milky | Reach For The Stars</title>
		<link rel="stylesheet" href="/public/jquery.fullPage.css"/>
		<link rel="stylesheet" href="/public/style.css"/>
		<link rel="stylesheet" href="/public/section2.css"/>
		<link rel="stylesheet" href="/public/slide12.css"/>
		<link rel="stylesheet" href="/public/slide3.css"/>
		<link rel="stylesheet" href="/public/linkslide.css"/>
		<link rel="stylesheet" href="/public/media.css"/>
		<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="fullpage">
			<div class="section firstsection">
				<div class="gradientsliding">
					<form class="bigform sliding" method="post">
						<div class="slide" data-anchor="slide1">
							<div class="containform">
								<h2>What's your name?</h2>
								<input name="username" class="nameinput" type="text" placeholder="John Doe"/>
								<div class="contain-buttons">
									<a id="firsta" class="navigationa next"><img src="/public/buttonnext.png"/></a>
								</div>
							</div>
						</div>
						<div class="slide" data-anchor="slide2">
							<div class="containform">
								<h2>Title your goal:</h2>
								<input name="goalTitle" class="nameinput" type="text" placeholder="Become a proficient MEAN stack developer!"/>
								<div class="contain-buttons">
									<a id="firstback" class="navigationa back"><img src="/public/buttonback.png"/></a>
									<a class="navigationa next"><img src="/public/buttonnext.png"/></a>
								</div>
							</div>
						</div>
						<div class="slide" data-anchor="slide3">
							<div class="containform">
								<h2 class="longer">What are some steps towards achieving your goal?</h2>
								<hr/>
								<div class="steps">
									<ul id="stepslist" class="steps-list"></ul>
									<button id="addstep" class="add-step"><span><img class="plug" src="/public/plus.png"/></span><span class="buttontext">Add a step</span></button>
									<div class="hid add-step">
										<img src="/public/plus.png" id="revert" />
										<div class="hidden">
											<h3>What type of step is this?</h3>
											<button id="course" class="taskoption">Course</button>
											<button id="task" class="taskoption">Task</button>
											<button id="milestone" class="taskoption">Milestone</button>
										</div>
									</div>
									<p class="dontworry">No rush. You can add more later on!</p>
								</div>
								<div id="containbuttonsspec" class="contain-buttons">
									<a id="firstback" class="navigationa back"><img src="/public/buttonback.png"/></a>
									<a class="navigationa next"><img src="/public/buttonnext.png"/></a>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="containform">
								<h2>Lastly, choose a link to store your goal:</h2>
								<div class="linkcontain">
									<p class="linkp">milky.io/</p>
									<div contenteditable="true" id="linkname" class="linkp">{{uniqueLink}}</div>
								</div>
								<div class="contain-buttons">
									<a id="firstback" class="navigationa back"><img src="/public/buttonback.png"/></a>
								</div>
								<div class="contain-buttons">
									<button class="submit">Submit!</button>
								</div>
								<div class="contain-buttons">
									<p class="loading">Loading...</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="section active">
				<div class="gradient">
						<div class="stars">
							<ul class="heading og">
								<li><h1 class="heading">Milky was designed for you to pull through with your ambitions.</h1></li>
								<li class="buttonli"><button class="start">Get started</button></li>
							</ul>
							<div class="learnmore bright">
								<ul class="tar2 default2 og">
									<li class="tars"><p class="learntext tar1 default">Learn more</p></li>
									<li class="tars leanmorelink"><a href="#"><span><img src="/public/arrow.png"/></span></a></li>
								</ul>
							</div>
						</div>
					</div>
			</div>
			<div class="section">
				<div class="wrapper">
					<div class="trees-contain">
					</div>
					<div class="rest">
						<img class="logo" src="/public/logo.png"/>
						<p class="des">
							Milky was designed for you to organize your thoughts and ambitions amidst such a hasteful world. Many of us
							don't commit ourselves to achieving our deepest desires because it really is difficult to get started with anything.
							Milky aims to make an intuitive app to organize what you must do to accomplish what you want, in the clearest way possible.
							You will see what we mean once you see what we've made for you.
						</p>
						<button class="start getstarted">Get started!</button>
						<div class="linkwrapper">
							<a class="ornament" href="https://www.ornament.com">Our team that built this is from Ornament. Find out more about us!</a>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/public/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/public/jquery.fullPage.min.js"></script>

		<script type="text/javascript" src="/public/jq.js"></script>
		<script type="text/javascript" src="/public/stoppollution.js"></script>
		<script type="text/javascript">
			$('input').focus();
			$('input').select();
		</script>

	</body>
</html>
