<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/public/style.css"/>
		<link rel="stylesheet" href="/public/onepage-scroll.css"/>
	</head>
	<body>
		<div class="main">
			<section class="page1 section stars">
				<ul class="heading og">
					<li><h1 class="heading">Milky is designed for you to pull through your ambitions.</h1></li>
					<li class="buttonli"><button class="start">Get started</button></li>
				</ul>
				<div class="learnmore bright">
					
					<ul class="tar2 default2 og">
						<li class="tars"><p class="learntext tar1 default">Learn more</p></li>
						<li class="tars leanmorelink"><a href="#"><span><img src="/public/arrow.png"/></span></a></li>
					</ul>
				</div>
				
			</section>
			<section class="page2 section" style="background-color:black">
				<p>yo</p>
			</section>
			<section class="page3 section" style="background-color:red">
				<p>yo</p>
			</section>
			<section class="page4 section" style="background-color:green"></section>
		</div>
		
	
		<script type="text/javascript" src="/public/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/public/jquery.onepage-scroll.min.js"></script>
		
		<script type="text/javascript" src="/public/jq.js"></script>
		
	</body>
</html>
