.linkcontain{
  color:white;
  width:60vw;
  border:1px solid white;
  display:block;
  margin:auto;
  text-align: center;

}
.linkp{
  display:inline-block;
  color:white;
  font-size:20px;
}
input.linkp{
  padding:10px 20px;
  border: 1px solid white;
  background:transparent;
  border-bottom:1px solid white;
}

button.submit{
  padding:15px 30px;
  border:1px solid white;
  background: transparent;
  color:white;
  font-size:20px;

  border-radius:5px;
}
button.submit:hover{
  background-color:white;
  color:black;
}

.linkwrapper{
  position:absolute;
  bottom:20px;
  text-align: center;
  width:100%;
}


.ornament{
  text-decoration: none;
  font-size:12px;
  display: block;
  margin: auto;
  color:white;
}
.ornament:hover{
  color:blue;
  text-decoration:underline;
}
