.linkcontain{
  color:white;
  width:60vw;
  border:1px solid white;
  display:block;
  margin:auto;
  text-align: center;

}
.linkp{
  display:inline-block;
  color:white;
  font-size:20px;
}
input.linkp{
  padding:10px 20px;
  border: 1px solid white;
  background:transparent;
  border-bottom:1px solid white;
}

button.submit{
  padding:15px 30px;
  border:1px solid white;
  background: transparent;
  color:white;
  font-size:20px;

  border-radius:5px;
}
button.submit:hover{
  transition:all 250ms ease-in-out;
  background-color:white;
  color:black;
}

.linkwrapper{
  position:absolute;
  bottom:20px;
  text-align: center;
  width:100%;
}
p.loading{
  padding:16px 40px;
  font-size:17px;
  color:white;
  background-color:#f85c5c;
  border:1px solid #f85c5c;
  border-radius:10px;
  width:40vw;
  margin:auto;
  margin-top:40px;
  display:none;
}
.pulseAnimate{
  animation: pulse 2s infinite;
}

@keyframes pulse{
  0%{
     transform: scale(0.9,0.9);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
     transform: scale(1,1);
  }
}

.ornament{
  text-decoration: none;
  font-size:12px;
  display: block;
  margin: auto;
  color:white;
}
.ornament:hover{
  color:blue;
  text-decoration:underline;
}
