@media(max-width:1000px){
  p.des{
    padding: 0 15vw;
  }
}
@media(max-width:720px){
  p.des{
    padding: 0 10vw;
  }
  button.getstarted{
    margin-top:25px;
    font-size:15px;
  }
}
@media(max-width:600px){
  .containform{
    margin-top:20vh;
  }
  .containform h2{
    font-size:22px;
  }
  .containform input{
    width:70vw;
  }
  .containform h2.longer{
    padding:0 10px;
    font-size:20px;
  }
  .steps{
    width:80vw;
  }
  .transform-button{
    height:185px;
  }
  .taskoption{
    width:100%;
    margin:3px;
    padding:7px 0px;
    font-size:13px;
  }
  .hidden h3{
    font-size:15px;
  }
  .contain-buttons{
    margin-top:20px;
  }
  p.dontworry{
    font-size:13px;
  }
  button.getstarted{
    margin-top:20px;
    font-size:12px;
  }
  p.des{
    margin-top:30px;
    font-size:10px;
    padding: 0 10vw;
  }
  img.logo{
    width:90px;
    height:67.5px;
    margin-top:30px;
  }
}
@media(max-width:550px){
  p.des{
    font-size:10px;
  }
}
